node_modules
.env

# Hardhat files
/cache
/artifacts
**/artifacts-pvm
**/cach-pvm

# TypeChain files
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
ignition/deployments/*
.qodo/
.DS_Store
